* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* setting limits of all items on webpage, so it is contained when expanded.*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* navbar background, text color, and height of background-color*/
.navbar {
    background-color: #1f2937;
    color: white;
    height: 80px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* navbar links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;

}

ul {
    list-style-type: none;
}