* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* setting limits of all items on webpage, so it is contained when expanded.*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* navbar background, text color, and height of background-color*/
.navbar {
    background-color: #1f2937;
    color: white;
    height: 80px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* navbar links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;

}

ul {
    list-style-type: none;
}

/* main background for header section*/
.header {
    background-color: #4c6991;
    min-height: 400px;
}

.header h1 {
    font-size: 40px;
    margin: 30px;
}

.header img {
    max-width: 500px;
    max-height: 500px;
    padding: 10px;
    margin-top: 60px;
    margin-right: 40px;
    border-radius: 30px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    max-width: 400px;
    font-size: 16px;
    padding: 0px;
    margin-left: 70px;
}

/*sign up button with hover and click effects */
 .button {
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 300px;
}

.button:hover{
    background-color: #1f2937;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.boxes .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    max-height: auto;
}

.box {
    flex: 1 1 0px;
    background-color: #684c14;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(173, 145, 145, 0.6);
    padding: 5px 5px;
}

.box-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #1f2937;
}


.box-info img{
    width: 100%;
    min-height: 300px;
    height: 100%;
    object-fit: cover;
    padding-top: 2px;
}

.boxes-header {
    color: #385986;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}